**Az első 5 feladat ismétlés (többtáblás lekérdezések) a tanulmányi adatbázisból**

1. Készítsünk listát arról, hogy melyik óra melyik teremben van!
    
    1. Jelenítsük meg az óra azonosítóját és a terem nevét!
    2. A listát szűrjük a 3 karakter hosszú, \[100;199\] zárt intervallumba eső termekre! Feltesszük, hogy a 3 karakter hosszú terem nevek csak számjegyeket tartalmaznak.

In [6]:
SELECT o.ora_id, t.Terem
FROM Orak o JOIN Termek t ON o.terem = t.Tkód
WHERE t.Terem BETWEEN '100' and '199' AND LEN(t.Terem) = 3

ora_id,Terem
159,117
160,118
161,118
162,119
163,120
164,119
165,119
166,119
167,120
170,120
172,119
173,119
175,120
176,118
177,119
179,120
180,119
181,118
185,120
192,119
195,116
197,116
198,119
204,120
212,120
218,118
220,119
222,116
226,117
227,116

1. <mark>2. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen az egyes napokon?</span></mark>
2. Jelenítsük meg a napok nevét és az órák számát az adott napon!
3. Az oszlopokat nevezzük el értelemszerűen!
4. A listát rendezzük óraszám szerint növekvő sorrendbe!

In [4]:
SELECT n.nap, COUNT(*)
FROM Orak o JOIN Napok n ON o.nap = n.nap_id
GROUP BY n.nap
ORDER BY 2 ASC

nap,(No column name)
Péntek,6
Szerda,6
Kedd,13
Csütörtök,19
Hétfő,23

<mark>3. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik oktatónak hány órája van az Órák táblában!</span></mark>

1. A lista jelenítse meg az oktatók nevét, és az órák számát!
2. Az oszlopokat nevezzük el értelemszerűen!
3. A listából hagyjuk ki az óraadókat!

In [15]:
SELECT okt.nev, COUNT(*)
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar JOIN Beosztasok b ON okt.beosztás = b.beosztas_id
WHERE b.beosztasnev <> 'Óraadó'
GROUP BY okt.nev

nev,(No column name)
Balkán András,3
Farkasos Piroska,7
Jogrerős Pál,2
Juhász András,2
Kiss János,4
Kovács László,4
Pelikán József,6
Róbert Gida,1
Szénási ászló,2
Szentágotai Istvás,8
Szép llonka,4
Szerb László,3
Ujfalussi István,3
Varga Kata,4
Vitéz János,4

<mark>4. <span style="color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Van-e olyan tantárgy, amelyből nincs óra?</span></mark>

1. Jelentsük meg a tantárgy nevét és a tantárgyfelelős nevét!

In [26]:
SELECT t.Tantárgynév, okt.nev
FROM   Tantárgyak t LEFT JOIN Orak o ON t.Tkód = o.targy JOIN Oktatok okt ON t.Tantárgyfelelős = okt.oktato_id
WHERE o.targy IS NULL

Tantárgynév,nev
Folyami gáttan,Varga Kata

5. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen a 120-as teremben?</span>

In [34]:
SELECT COUNT(*) 
FROM Orak o JOIN Termek t ON o.terem = t.Tkód
WHERE t.Terem = '120'

(No column name)
8

**A 6-10 feladatokat halmazműveletek segítségével oldjuk meg, szintén a tanulmányi adatbázison**

6. <span style="background-color:rgb(255, 255, 255);color:rgb(36, 41, 47);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;;font-size:16px;font-weight:600;">Jelenítsük meg azon tanárok azonosítóját és nevét, akik hétfői vagy keddi napokon tanítanak!</span>

In [39]:
SELECT okt.oktato_id, okt.nev 
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar
                 JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = N'Hétfő'

UNION

SELECT okt.oktato_id, okt.nev 
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar
                 JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = N'Kedd'

oktato_id,nev
1,Kovács László
2,Szentágotai Istvás
3,Szerb László
4,Ujfalussi István
5,Balkán András
6,Szép llonka
7,Kiss János
8,Pelikán József
9,Farkasos Piroska
10,Jogrerős Pál
12,Varga Kata
14,Szénási ászló
18,Nógrádi Kata
20,Kovács András
104,Ludas Mátyás
108,Róbert Gida
200,Aranyi Mária

7. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyek azok a tantárgyak, amelyek esetén van óra a 8.00-kor kezdődő sávban, de nincs a 12.30-kor kezdődő sávban?</span>

In [42]:
SELECT t.Tantárgynév 
FROM Tantárgyak t JOIN Orak o ON t.Tkód = o.targy JOIN Savok s ON o.Sav = s.Sav_id
WHERE s.Időpont = '8.00'

EXCEPT

SELECT t.Tantárgynév 
FROM Tantárgyak t JOIN Orak o ON t.Tkód = o.targy JOIN Savok s ON o.Sav = s.Sav_id
WHERE s.Időpont = '12.30'

Tantárgynév
Az ürgeöntés hydrológiai alapjai II.
Fejezetek az ürgék jogaiból
Ürgevitel

8. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Listázzuk azokat a termeket, amelyekben oktat Kovács László és van olyan tanóra a teremben, ahol a tantárgy nevében nem szerepel az 'ürge' szó!</span>

In [43]:
SELECT t.Terem
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar JOIN Termek t ON o.terem = t.Tkód
WHERE okt.nev = N'Kovács László'

INTERSECT

SELECT t.Terem
FROM Tantárgyak tan JOIN Orak o ON tan.Tkód = o.targy JOIN Termek t ON o.terem = t.Tkód
WHERE tan.Tantárgynév NOT LIKE '%ürge%'

Terem
116
119
S.Asor.S3
VP 203.

<mark>9. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik tanárnak hány órája van a (munka) hét elején (hétfőn), hét közben (kedd, szerda és csütörtök), illetve a hét végén (péntek)!</span></mark>

1. Jelenítsük meg a tanár azonosítóját, nevét, az időszakot (hét eleje - hét közben - hét vége), valamint az óraszámot!
2. A három megjelölt időszakot külön kérdezzük le, majd fűzzük össze a lekérdezések eredményeit!
3. Rendezzük a listát az oktató neve, azon belül időszak szerint!

In [60]:
SELECT okt.oktato_id,
         okt.nev,
         CASE 
            WHEN n.nap = N'Hétfő' THEN 'hét eleje'
            WHEN n.nap IN ('Kedd', 'Szerda', 'Csütörtök') THEN 'hét közepe'
            ELSE 'hét vége' END AS 'Időszak',
            COUNT(*)
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar JOIN Napok n ON o.nap = n.nap_id
GROUP BY okt.oktato_id, okt.nev, CASE 
            WHEN n.nap = N'Hétfő' THEN 'hét eleje'
            WHEN n.nap IN ('Kedd', 'Szerda', 'Csütörtök') THEN 'hét közepe'
            ELSE 'hét vége' END

ORDER BY okt.oktato_id, okt.nev, 'Időszak'

oktato_id,nev,Időszak,(No column name)
1,Kovács László,hét közepe,3
1,Kovács László,hét vége,1
2,Szentágotai Istvás,hét eleje,1
2,Szentágotai Istvás,hét közepe,5
2,Szentágotai Istvás,hét vége,2
3,Szerb László,hét közepe,3
4,Ujfalussi István,hét eleje,1
4,Ujfalussi István,hét közepe,2
5,Balkán András,hét eleje,2
5,Balkán András,hét közepe,1
6,Szép llonka,hét eleje,4
7,Kiss János,hét eleje,2
7,Kiss János,hét közepe,2
8,Pelikán József,hét eleje,3
8,Pelikán József,hét közepe,3
9,Farkasos Piroska,hét eleje,2
9,Farkasos Piroska,hét közepe,4
9,Farkasos Piroska,hét vége,1
10,Jogrerős Pál,hét eleje,2
12,Varga Kata,hét eleje,2
12,Varga Kata,hét közepe,2
14,Szénási ászló,hét közepe,2
18,Nógrádi Kata,hét közepe,1
20,Kovács András,hét eleje,2
20,Kovács András,hét közepe,2
104,Ludas Mátyás,hét eleje,1
104,Ludas Mátyás,hét közepe,1
108,Róbert Gida,hét közepe,1
111,Vitéz János,hét közepe,2
111,Vitéz János,hét vége,2
200,Aranyi Mária,hét eleje,1
300,Szabó Andrera,hét közepe,2
301,Juhász András,hét közepe,2

10. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyik napokon nincs órája Pelikán Józsefnek?</span>

In [62]:
SELECT DISTINCT nap 
FROM Napok

EXCEPT

SELECT n.nap
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar JOIN Napok n ON o.nap = n.nap_id
WHERE okt.nev = 'Pelikán József'

nap
Csütörtök
Péntek
Szerda

**A 11-15 feladatok gyakorlásra szolgálnak a közelgő zh-ra :-)**

11. _Készítsünk listát az oktatók adatairól!_

1. Az oktatók titulusa és neve összefűzve jelenjen meg, közöttük szóközzel!
2. Ha valakinek nincs titulusa, akkor csak a neve jelenjen meg, szóköz nélkül!
3. A listát rendezzük a beosztás kódja, azon belül a státusz kódja szerint növekvő sorrendbe!
4. Az oszlopokat nevezzük el értelemszerűen!

In [71]:
SELECT IIF(titulus IS NULL, LEFT(nev, CHARINDEX(' ', okt.nev)-1) + RIGHT(nev, LEN(nev)-CHARINDEX(' ', okt.nev)), titulus + ' ' + nev), beosztasnev, s.[Status]
FROM Beosztasok b JOIN Oktatok okt on b.beosztas_id = okt.beosztás JOIN statusok s ON okt.[status] = s.Skod
ORDER BY b.beosztas_id, s.Skod ASC

(No column name),beosztasnev,Status
NógrádiKata,Óraadó,Főállású
RáczAndrás,Óraadó,Főállású
KovácsAndrás,Óraadó,Főállású
LudasMátyás,Óraadó,Főállású
AranyiMária,Óraadó,Főállású
SzabóAndrera,Óraadó,Főállású
KissIstván,Óraadó,Félállású
MészárosKriszta,Óraadó,Félállású
RóbertGida,Tanársegéd,Főállású
VitézJános,Tanársegéd,Főállású
KissJános,Tanársegéd,Főállású
PelikánJózsef,Tanársegéd,Óraadó
FarkasosPiroska,Tanársegéd,Óraadó
Dr. Szép llonka,Adjunktus,Főállású
Szénásiászló,Adjunktus,Főállású
Dr. Szentágotai Istvás,Adjunktus,Félállású
SzerbLászló,Docens,Főállású
Dr. Józsa Gábor,Docens,Főállású
Dr. Varga Kata,Docens,Főállású
Dr. Balkán András,Docens,Félállású
Dr. Kovacs Istvan,Professzor,Főállású
Dr. Juhász András,Egyetemi tanár,Főállású
Prof. Jogrerős Pál,Egyetemi tanár,Főállású
Dr. Kovács László,Egyetemi tanár,Félállású
"Prof, tanszékvezető Ujfalussi István",Egyetemi tanár,Félállású

<span style="color: #09885a;">12</span>. Készítsünk listát, amely megmutatja, hogy összesen hány tantárgy van kreditenkénti csoportosításban!

  

A listából hagyjuk ki azokat a tételeket, ahol ez a darabszám <span style="color: #09885a;">1</span>!

A Folyami gáttan tantárgyat ne vegyük figyelembe!

A listát rendezzük darabszám szerint csökkenő sorrendbe!

Az oszlopokat nevezzük el értelemszerűen!

In [76]:
SELECT Kredit, COUNT(*)
FROM Tantárgyak
WHERE Tantárgynév <> 'Folyami gáttan'
GROUP BY Kredit
HAVING COUNT(*) <> 1
ORDER BY 2 DESC

Kredit,(No column name)
2,3
3,3
4,2
1,2

13. _Készítsünk listát az oktatók nevéről, a beosztásuk alapján elvárt és a tényleges óraszámukról!_

1. Az oszlopok neve legyen 'Oktató neve', 'Elvárt óraszám' és 'Tényleges óraszám'
2. Szűrjük a listát azokra az oktatókra, ahol az elvárt és a tényleges óraszám azonos

In [78]:
SELECT okt.nev, b.elvart, COUNT(ora_id)
FROM Beosztasok b JOIN Oktatok okt ON b.beosztas_id = okt.beosztás JOIN Orak o ON okt.oktato_id = o.tanar
GROUP BY okt.nev, b.elvart
HAVING b.elvart = COUNT(ora_id)

nev,elvart,(No column name)
Jogrerős Pál,2,2
Juhász András,2,2
Varga Kata,4,4
Pelikán József,6,6

14. _Készítsünk listát, amely megmutatja, hogy mely tantárgyból nincs óra egyáltalán!_

1. Csak a tantárgy neve jelenjen meg!

In [65]:
SELECT t.Tantárgynév
FROM Tantárgyak t LEFT JOIN Orak o ON t.Tkód = o.targy
WHERE o.targy IS NULL

Tantárgynév
Folyami gáttan

15. _Hány órájuk van az óraadóknak napi bontásban?_

1. Csak a napok nevét és az óraszámot jelenítsük meg!
2. Rendezzük a listát óraszám szerint növekvő sorrendbe!

In [64]:
SELECT n.nap, COUNT(*)
FROM Beosztasok b JOIN Oktatok okt ON b.beosztas_id = okt.beosztás JOIN Orak o ON okt.oktato_id = o.tanar JOIN Napok n ON o.nap = n.nap_id
WHERE b.beosztasnev = 'Óraadó'
GROUP BY n.nap
ORDER BY 2 ASC

nap,(No column name)
Kedd,1
Hétfő,4
Csütörtök,5